<!-- todo: user avatar here with option to change name -->

<div *ngIf="joining$ | async; then joining else joined"></div>

<ng-template #joining>
  <div class="p-3">
    Joining the room, please wait...
  </div>
</ng-template>

<ng-template #joined>
  <ng-container *ngIf="joinError$ | async; then error else room"></ng-container>
</ng-template>

<ng-template #error>
  <div class="p-3">
    Error... {{joinError$ | async}}<br>
    <a routerLink="../../">Join a different room</a>
  </div>
</ng-template>

<ng-template #room>
  <scr-poker-room></scr-poker-room>
</ng-template>
