.card {
  background: #fff;
  border-radius: 2px;
  display: block;
}

.card-body {
  padding: 1.25rem;
}

.card-header {
  background-color: #fafafa;
  border-bottom: solid 1px #ddd;
  padding: 0.5rem;

  .title {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
