<div fxLayout="row" fxLayout.xs="column" *ngIf="room$ | async; let room">

  <div fxFlex="67" fxFlex.lt-lg="50">

    <h1>Room: {{ room.name }}</h1>
    <p>State: {{ room.state }}</p>

    <scr-poker-card
      *ngFor="let cardValue of room.cardValues"
      [value]="cardValue"
      (select)="onVote($event)">
    </scr-poker-card>

  </div>

  <div fxFlex="33" fxFlex.lt-lg="50">
    <!-- player list and controls go here -->
    <h2>Players</h2>
    <p *ngFor="let player of room.players | scrKeys:false">{{player.name}} - {{player.vote}}</p>

    <!-- todo: should only be available to moderator of room -->
    <div *ngIf="room.state === statesEnum.Voting">
      <button type="button" (click)="onClearVotes()">Clear Votes</button>
      <button type="button" (click)="onFlipCards()">Flip Cards</button>
    </div>

    <div *ngIf="room.state === statesEnum.Results">
      <button type="button" (click)="onResetRoom()">Reset</button>
    </div>

    <!-- invite details here -->
    <h3>Invite Details</h3>
    <p>Room Id: {{room.id}}</p>
  </div>

</div>
