:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: min-content
}

.options {
  max-width: 360px;

  .or {
    color: #666;
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 1.5rem;
  }
}
