:host {
  display: block;
  height: 100%;
}

.select-room-page {
  position: relative;
  height: 100%;
}

.options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 360px;

  .or {
    color: #666;
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 1.5rem;
  }
}
