<div [formGroup]="form">
  <div class="form-group" [class.invalid]="(hasSubmitted || form.get('name').touched) && form.get('name').invalid">
    <label class="sr-only" for="roomName">Enter Room Name</label>
    <input id="roomName" class="input" placeholder="Enter Room Name" formControlName="name">
    <span class="control-error" *ngIf="error$ | async as error">{{error}}</span>
  </div>
  <button type="button" class="btn btn-primary btn-block mt-3" (click)="onMakeRoom()">Make a Room</button>
</div>
